name: "TimeLimit UI"
slug: "timelimit-ui"
version: "0.1.27"
description: "Web UI for the TimeLimit server"
arch:
  - aarch64
  - amd64
  - armv7
startup: services
boot: auto
ports:
  8099/tcp: 8099
options: {}
schema: {}