name: Builder

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # Voeg dit blok toe om schrijfrechten te geven voor packages
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Add-on
        uses: home-assistant/builder@master
        with:
          args: |
            --amd64 \
            --aarch64 \
            --target timelimit-ui \
            --docker-hub ghcr.io/jeroenlind \
            --addon